body {
  background-image: url(marble.jpg);
} 
 gif{border-radius: 30%;
}
 img{border-radius : 40px}
 img{border:5px round #009999;}
h1{
  color: rgb(223, 65, 8);
  text-align: center;
}
h4 {
  color: rgb(223, 65, 8);
  text-align: center;
}
h2 {
  border-style: double;
  border-color: red
}
h2 {background-color: rgba(255, 99, 71, 0.5);
  color:rgb(156, 6, 6) ;
  text-align: center;
}
p1 {
  font-family: times new roman;
  font-size: 15px;
  font-style : bold;
  color:#9c9e0b;
}
